name: Qt Cross-Platform Build

permissions:
  contents: write

on: push

jobs:
  build-macOS:
    runs-on: macos-latest
    steps:
      - name: Get repository code 
        uses: actions/checkout@v3

      - name: Install dependencies 
        run: |
          brew update
          brew install cmake qt conan
          
      - name: Conan Install
        run: |
          conan profile detect --force
          conan install . --output-folder=build --build=missing -s build_type=Release

      - name: Configure CMake
        run: |
          cmake -S . -B build

      - name: Build and Test
        run: |
          cmake --build build --config Release
          cd build && ctest --output-on-failure


  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code 
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y \
                build-essential cmake qt6-base-dev \
                libqt6network6 libqt6widgets6 libqt6sql6 \
                libgl1-mesa-dev libxkbcommon-dev
          pip3 install conan

      - name: Conan Install
        run: |
          conan profile detect --force
          conan install . --output-folder=build --build=missing -s build_type=Release
          
      - name: Configure CMake
        run: |
          cmake -S . -B build 
      
      - name: Build project
        run: |
          cmake --build build --config Release
          cd build && ctest --output-on-failure
